/* 
    Created on : 27/08/2014, 23:38:52
    Author     : AndreMarcelino
*/
*{ margin:0;
   padding:0;
}
/*-------------------------
	General Styles
--------------------------*/
body{ /*font-family:  "Slate W01",sans-serif; font-size: 1.2em;*/
	/* Workaround for some mobile browsers */
	font:1.9em 'Slate W01', 'Segoe UI',Arial, sans-serif;
	min-height:100%;
}
section{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 16em;
    width: 16em;
    margin: -10em 0 0 -8em;
    text-align: center
}
section header span a{
    text-decoration: none;
    font-style: italic;
    font-size: 0.5em;
    color: #428bca;
}
section header span a:hover{
    color: #2a6496;
}
header{
    color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    height: 90%;
    width: 90%;
    margin: -45% 0 0 -45%;
    background: rgba(0,0,0,0.6);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
header h1{
    font-size: 1em;
    font-weight: normal;
    margin: 2.3em 2.3em 1em 2.3em;
    float: left;
    border-bottom: 1px solid rgba(0, 0, 2, 0.4);
    padding-bottom: 15px;
}
header h2{
	color: #EEEEEE;
	font-size: 0.6em;
	font-weight: normal;
}

header h2 i{
	font-style:normal;
	color:orange;
}

header p{
    text-align: center;
    font-size: 0.5em;
    font-style: italic;
    margin-top: 20px;
}
a, a:visited {
	outline:none;
}

a:hover{
	text-decoration:none;
}

section, footer, header{
	display: block;
}

.espEsq20px{
    margin-left: 20px;
}
/*<==============================
    Dispositivos Móveis
----------------------------->*/

@media (max-width: 780px) {
    .menu-dispositivos {
      font-size: 1.2em;
      background: rgba(0,0,0,0.3);
      padding: 0.1em;
      color: #fff;
      position: relative;
    }
    .menu-dispositivos a{text-decoration: none;color: #ddd;}
    .menu-dispositivos h1{text-align: right;font-size: 0.6em;float: right;margin-right: 0.1em;font-weight: normal;}  
    .menu-dispositivos h1 a{color: #777}
    .menu-dispositivos h1 a:hover{color: #fff}
    .menu-dispositivos span{font-size: 0.9em;display: inline;float: left;cursor: pointer;}  
    .xs-hidden{display:none}
    .menu-dispositivos>div>ul{background: #302F31; margin: 0.1em -0.1em 0.1em -0.1em; display: none;}
    .menu-dispositivos>div>ul>li{font-size: 0.5em;padding: 0.3em;cursor: pointer;

border: 2px solid; /* As 4 bordas sólidas com 25px de espessura */ 
border-color: #302F31 #302F31 #000 #302F31;}
    .menu-dispositivos>div>ul>li:hover{background: #000;font-weight: bold;}
    .menu-dispositivos>div>ul>li a{padding:1em;}
    
    section{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 10em;
    width: 10em;
    margin: -5em 0 0 -5em;
    text-align: center;
    }
    header{
        color: #fff;
        position: relative;
        top: 50%;
        left: 50%;
        height: 90%;
        width: 90%;
        margin: -45% 0 0 -45%;
        background: rgba(0,0,0,0.3);
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    header h1{
        font-size: 0.6em;
        font-weight: normal;
        margin: 2.3em 2.3em 1em 2.3em;
        float: left;
        border-bottom: 1px solid rgba(0, 0, 2, 0.6);
        padding-bottom: 15px;
    }
    header h2{
            color: #EEEEEE;
            font-size: 0.6em;
            font-weight: normal;
    }

    header h2 i{
            font-style:normal;
            color:orange;
    }

    header p{
        text-align: center;
        font-size: 0.4em;
        font-style: italic;
        margin-top: 20px;
    }

}
.bg-rodape-home{
    background:#111111;
}
@media (min-width: 780px) {
  .menu-dispositivos {
    display: none;
  }
}
.clear{clear: both;display: block}
.margin-topo12{margin-top: 12px;}