/* 
    Created on : 16/09/2014, 21:17:58
    Author     : AndreMarcelino
*/
/*##### Rodape -----------------------------*/
footer{
	background-image: url("../img/bg-verde-escuro.png");
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
	height: 50px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 0;
}

footer h3 {
	color: #EEEEEE;
	font-size: 14px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	position: absolute;
	width: 540px;
        float: left;
        display: block;
}
footer h3 a{
    	color: #EEEEEE;
        text-decoration: none;
}
footer h3 i{
	font-style:normal;
	color:#888;
}
footer h3 i a{
    margin: 5px;
    text-decoration: none;
    color: #428bca;
}
footer h3 i a:hover{
    text-decoration: underline;
}

footer span.tzine,span.tzine:visited{
	color: #999999;
	font-size: 12px;
	left: 50%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

footer a i{
	color:#ccc;
	font-style: normal;
}
@media (max-width: 780px) {
 footer {
    display: none;
  }
}