<div class="container margin-topo50">
    <div class="row">
        <div class="col-xs-12">           
            <section class="main">
                <h2 class="h2Sobre">Quem sou</h2>
            <p>
                Olá, me chamo <em>André Fauze Marcelino</em>, sou natural de São Paulo-SP  
                formado no curso <em>Tecnologia em Sistemas para Internet</em> pela FMU  em junho/2012.
            </p>
            <p>Sou Programador Web especializado na criação de websites dinâmicos, intranet e sistemas voltados ao ambiente web,
                tudo com uma grande preocupação na aparência, usabilidade e acessíveis por qualquer tipo de dispositivo, seja ele um computador, celular ou tablet.</p>                
            <h2 class=" margin-topo50 h2Sobre"><a id="tecnologias" class="aclear">Habilidades</a></h2> 
                <ul class="ch-grid">
                    <li>
                        <div class="ch-item ch-img-1">				
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front ch-img-1"></div>
                                    <div class="ch-info-back">
                                        <h3>Linguagem de Programação</h3>
                                        <p>Livre e utilizada para gerar conteúdo dinâmico na Web.</p>
                                    </div>	
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ch-item ch-img-2">
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front ch-img-2"></div>
                                    <div class="ch-info-back">
                                        <h3>PostgreSQL</h3>
                                        <p>Sistema Gerenciador de <span>Banco de Dados</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ch-item ch-img-3">
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front ch-img-3"></div>
                                    <div class="ch-info-back">
                                        <h3>MYSQL</h3>
                                        <p>Sistema Gerenciador de <span>Banco de Dados</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ch-item ch-img-4">
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front ch-img-4"></div>
                                    <div class="ch-info-back">
                                        <h3>JQuery</h3>
                                        <p>É uma biblioteca javascript utilizada para interagir e dar efeitos visuais na página html</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>                            
                    <li>
                        <div class="ch-item ch-img-5">
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front ch-img-5"></div>
                                    <div class="ch-info-back">
                                        <h3>HTML5</h3>
                                        <p>É 5ª versão da linguagem html, que traz novas funcionalidades ex: acessibilidade e semântica.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="ch-item ch-img-6">
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front ch-img-6"></div>
                                    <div class="ch-info-back">
                                        <h3>CSS3</h3>
                                        <p>Linguagem de marcação que estiliza o documento apresentado ao usuário.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>           
             <h2 class=" margin-topo50 h2Sobre"><a id="padroes-desenv" class="aclear">Técnicas e Padrões de Desenvolvimento</a></h2>  
                <ul class="ch-grid">
                    <li>
                        <div class="ch-item ch-img-7">				
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front ch-img-7"></div>
                                    <div class="ch-info-back">
                                        <h3>Composer</h3>
                                        <p>Instalador de dependências.</p>
                                    </div>	
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ch-item ch-img-8">
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front ch-img-8"></div>
                                    <div class="ch-info-back">
                                        <h3>Git</h3>
                                        <p>Sistema de <span>controle de versão</span> distribuida, rápido e escalável</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ch-item ch-img-9">
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front ch-img-9"></div>
                                    <div class="ch-info-back">
                                        <h3>POO</h3>
                                        <p>Programação Orientada a Objeto <span title="A Orientação a Objetos é um paradigma que representa dota uma filosofia para contrução de sistemas, utilizando uma ótica mais próxima do mundo real. ">...</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ch-item ch-img-10">
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front ch-img-10"></div>
                                    <div class="ch-info-back">
                                        <h3>MVC</h3>
                                        <p>É uma arquitetura que  permite dividir as funcionalidades de seu sistema <span title="em camadas, essa divisão é realizada para facilitar resolução de um problema maior">...</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ch-item ch-img-11">
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front ch-img-11"></div>
                                    <div class="ch-info-back">
                                        <h3>Design Responsivo</h3>
                                        <p>É Simplesmente ajustar o seu site à qualquer resolução existente</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>                    
                    <li>
                        <div class="ch-item ch-img-12">
                            <div class="ch-info-wrap">
                                <div class="ch-info">
                                    <div class="ch-info-front ch-img-12"></div>
                                    <div class="ch-info-back">
                                        <h3>Twitter Bootstrap</h3>
                                        <p>Framework com um conjunto de elementos personalizáveis p/ projetos web.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    
                </ul> 
            </section> 
        </div>
    </div>
</div>
<div class="margin-bottom80"></div>