<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="{$metaKeywords}" />
    <meta name="description" content="{$metaDescription}" />
    <meta name="author" content="{$metaAuthor}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$metaTitle}</title>
    <link rel="stylesheet" type="text/css" href="{#SITE_URL#}app/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{#SITE_URL#}app/public/css/css.css">
    <link rel="stylesheet" type="text/css" href="{#SITE_URL#}app/public/css/rodape.css">
    {$css1}
</head>