<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="{$metaKeywords}" />
    <meta name="description" content="{$metaDescription}" />
    <meta name="author" content="{$metaAuthor}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$metaTitle}</title>
    <style>        
        html{
            /* Imagem do Tamanho da tela */
            background:url("{$img}") no-repeat center center;
            min-height:100%;
            /* A Magica */
            background-size:cover;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{#SITE_URL#}app/public/css/pgHome.css">
    <link rel="stylesheet" type="text/css" href="{#SITE_URL#}app/public/css/rodape.css">
</head>
<body>
    {include="$pgHome"}
     <script src="{#SITE_URL#}app/public/js/jquery-1.11.1.min.js"></script>
     <script src="{#SITE_URL#}app/public/js/js.js"></script>
</body>
</html>
